/* RSNavStatus.css */

.rs-nav-status {
  display: flex;
  align-items: center;
}

.rs-nav-status div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-right: 2rem;
}

.rs-item-count {
  position: absolute;
  background-color: var(--color-3);
  color: black;
  border-radius: 50%;
  top: -2rem;
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.rs-nav-status .received,
.rs-nav-status .preparing,
.rs-nav-status .ready,
.rs-nav-status .delivery,
.rs-nav-status .completed {
  color: var(--button-primary-color);
}
